.ipynb_checkpoints/
/predict/
/model/
/log/
/old/
/out/
/data/
TODO.txt
/scratch/
/examples/predict/
/examples/model/
/examples/log/
/examples/old/
/examples/out/
/examples/output/
/examples/data/
/examples/*.sh
/examples/*.sbatch

*.egg-info/
__pycache__/

*.DS*
*.log
*.pt
*.swp
*.txt
*.model
*.json
*.graphml
*.ipynb

# Sphinx
docs/_build
